.navbar {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 100;

  height: 5rem;
}

.navbar a {
  text-decoration: none;
  font-size: 3rem;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
}
